@tailwind base;
@tailwind components;
@tailwind utilities;

textarea,
textarea:focus {
    font-size: 14px;
    padding: 5px;
    background: transparent;
    -webkit-appearance: none;
    -moz-apperarance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    resize: none;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}